{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

    <h1 class="fs-2 mt-4 mb-2">Actualizar Orden - <span class="text-warning">Nº {{ assignment.id|stringformat:"04d" }}</span></h1>
    <p class="text-end">Fecha de Ingreso: {{ assignment.date|date:"SHORT_DATE_FORMAT" }}</p>
    <form method="post">
        {% csrf_token %}
        <h4 class="text-warning mb-3">Información del Cliente</h4>
            <div class="row g-2">
                <div class="col">
                    <div class="form-floating text-black">
                        {{ form.user.first_name }}
                        {{ form.user.first_name.label_tag }}
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating text-black">
                        {{ form.user.last_name }}
                        {{ form.user.last_name.label_tag }}
                    </div>
                </div>
            </div>
            <div class="form-floating text-black">
                {{ form.user.dni }}
                {{ form.user.dni.label_tag }}
            </div>
        <h4 class="text-warning mt-3 mb-3">Información de Contacto</h4>
        <div class="row g-2">
            <div class="col-4">
                <div class="form-floating text-black">
                    {{ form.phone_number.idc }}
                    {{ form.phone_number.idc.label_tag }}
                </div>
            </div>
            <div class="col-8">        
                <div class="form-floating text-black">
                    {{ form.phone_number.number }}
                    {{ form.phone_number.number.label_tag }}
                </div>
            </div>
        </div>
        <div class="form-check form-check-reverse form-switch my-2">
            {{ form.phone_number.is_whatsapp_number }}
            <label
                class="form-check-label"
                for="{{ form.phone_number.is_whatsapp_number.id_for_label }}">
                {{ form.phone_number.is_whatsapp_number.label }}
            </label>
        </div>
        <h4 class="text-warning mt-3 mb-3">Información del Dispositivo</h4>
        <div class="row g-2 pb-2">
            <div class="col">
                <div class="form-floating text-black">
                    {{ form.device.name }}
                    {{ form.device.name.label_tag }}
                </div>
            </div>
            <div class="col">
                <div class="form-floating text-black">
                    {{ form.device.brand }}
                    {{ form.device.brand.label_tag }}
                </div>
            </div>
        </div>
        <div class="row g-2 pb-2">
            <div class="col">
                <div class="form-floating text-black">
                    {{ form.device.model }}
                    {{ form.device.model.label_tag }}
                </div>
            </div>
            <div class="col">
                <div class="form-floating text-black">
                    {{ form.device.serial }}
                    {{ form.device.serial.label_tag }}
                </div>
            </div>
        </div>
        <div class="form-floating text-black">
            {{ form.repair_order.failture_description }}
            {{ form.repair_order.failture_description.label_tag }}
        </div>
        <div class="form-floating text-black my-2">
            {{ form.repair_order.description }}
            {{ form.repair_order.description.label_tag }}
        </div>
        <div class="row g-2">
            <div class="col">
                <div class="form-floating text-black">
                    {{ form.repair_order.it_includes }}
                    {{ form.repair_order.it_includes.label_tag }}
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <span class="input-group-text fs-4">&nbsp;$&nbsp;</span>
                    <div class="form-floating text-black">
                        {{ form.repair_order.budget }}
                        {{ form.repair_order.budget.label_tag }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-floating text-black mt-2 mb-4">
            {{ form.note.note }}
            {{ form.note.note.label_tag }}
        </div>
        <hr>
        <h4 class="text-warning mt-3 mb-3">Gerencia</h4>
        <div class="form-floating text-black">
            {{ form.assignment.delegate }}
            {{ form.assignment.delegate.label_tag }}
        </div>
        <div class="form-check form-switch mt-2">
            {{ form.assignment.is_guarantee }}
            <label
                class="form-check-label"
                for="{{ form.assignment.is_guarantee.id_for_label }}">
                {{ form.assignment.is_guarantee.label }}
            </label>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <a href="{% url 'mark_as_returned' object.order.pk %}" class="btn btn-lg btn-outline-danger {% if object.invoice %}disabled{% endif %}">Devolver</a>
            {% if not object.invoice %}
                <div class="btn-group dropup">
                    <a href="{{ object.get_create_invoice_url }}" type="button" class="btn btn-lg btn-outline-warning">Facturar</a>
                    <button type="button" class="btn btn-lg btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <li><button class="dropdown-item" type="submit">Actualizar Datos</button></li>
                        <li>
                            <a href="{{ object.order.get_as_reviewed_url }}"
                                class="dropdown-item {% if object.order.was_reviewed %}disabled{% endif %}">
                                Marcar Revisado
                            </a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a href="{{ object.get_update_invoice_url }}" class="btn btn-lg btn-outline-warning">Facturación</a>
            {% endif %}
        </div>

    </form>

{% endblock %}