{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    
    <h1 class="fs-2 mt-4 mb-2">Cambio de Contraseña</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-floating text-black">
            {{ form.old_password }}
            {{ form.old_password.label_tag }}
        </div>
        <div class="form-floating text-black my-2">
            {{ form.new_password1 }}
            {{ form.new_password1.label_tag }}
            <div class="text-white mt-3">
                {{ form.new_password1.help_text}}
            </div>
        </div>
        <div class="form-floating text-black">
            {{ form.new_password2 }}
            {{ form.new_password2.label_tag }}
        </div>
        <div class="text-end mt-4">
            <button class="btn btn-lg btn-outline-warning" type="submit">Cambiar</button>
        </div>
    </form>

{% endblock %}